@model  List<MVC_DEMO_1.Models.Employee>
@{
    ViewBag.Title = "GetAll";
}

<h2>GetAll</h2>

<hr />
@Html.ActionLink("Create new Employee","Create")
@*<a href="/Employee/Create">Create new Employee</a>*@
<hr />

<table>

    <tr>
        <th>
            @Html.DisplayNameFor(e => e.FirstOrDefault().ID)
        </th>
        <th> - </th>
        <th>
            @Html.DisplayNameFor(e => e.FirstOrDefault().Name)
        </th>
    </tr>

    @{
        foreach (var emp in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(e => emp.ID)
                </td>
                <td> - </td>
                <td>
                    &ensp;@Html.DisplayFor(e => emp.Name)
                </td>
                <td> 
                    @Html.ActionLink("Details", "Details", new {id=emp.ID})
                    @*<a href="/Employee/Details/@emp.ID">&ensp;Select</a>*@
                </td>
                <td>
                    @Html.ActionLink("-Edit", "Edit", new { id = emp.ID })
                    @*<a href="/Employee/Edit/@emp.ID">&ensp;Edit</a>*@
                </td>
                <td>
                    @Html.ActionLink("-Delete", "Delete", new { id = emp.ID })
                    @*<a href="/Employee/Delete/@emp.ID">&ensp;Delete</a>*@
                </td>


            </tr>

        }
    }


</table>
