@*<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>*@

@model IEnumerable<hostcore.Entities.Products>

@{
    ViewData["Title"] = "Index";
}

<h1 align="right" >قائمة الأسعار</h1>

<p align="right" >
    <a asp-action="Create">إضافة جديد</a>
</p>
<table class="table" align="right">
    <thead align="right">
        <tr>

            <th>

            </th>
            <th>
                الفئة
            </th>
            <th>
                الماركة
            </th>
            <th>
                السعر
            </th>
            @*<th>
                سنة الإنتاج
            </th>*@
            <th>
                الصنف
            </th>

        </tr>
    </thead>
    <tbody align="right">
@foreach (var item in Model.Reverse()) {
        <tr>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">تفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">حذف</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListPrice) جنيهاً
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ModelYear)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>


        </tr>
}
    </tbody>
    <div></div>
</table>
